body {
	max-width: 940px;
	margin: auto;
}

.ank {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

p { 
   text-indent: 30px;
}

.desc {
    font: 12pt arial; 
}

table, td, th {    
    border: 1px solid #ddd;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
}

code {
  font-size: 90%;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
}

samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }

.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}


@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
