body {
	max-width: 940px;
	margin: auto;

}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
}

.zoomable {
    border: 1px solid black;
}

.zoomableAnimated {
    border: 1px solid darkgray;
    padding: 15px 0px;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    transition-timing-function: ease;
}

.zoomable:hover {
    -webkit-transform: scale(2,2);
    transform: scale(2,2); 
 
}
   
.zoomableAnimated:hover {
    -webkit-transform: scale(2,2) rotate(360deg); 
    transform: scale(2,2) rotate(360deg); 
}

.moving {
    position: relative;
    -webkit-animation-name: move;
    -webkit-animation-duration: 4s; 
    -webkit-animation-iteration-count: infinite;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@-webkit-keyframes move {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes move {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;-webkit-transform: rotate(90deg);}
    50%  {left:200px; top:200px;-webkit-transform: rotate(180deg);}
    75%  {left:0px; top:200px;-webkit-transform: rotate(270deg);}
    100% {left:0px; top:0px;-webkit-transform: rotate(360deg);}
}
